<h2>All Posts </h2>

<% @posts.each do |post| %>
  <h5><%= link_to post.title, post_path(post) %> 
    <small>By: <%= post.user_name %> on <%= post.created_at.strftime("%m/%d/%Y at %I:%M%P")  %></small> 
  </h5>
<% end %>