@import "bootstrap-sprockets";
@import "bootstrap";


.brand-header {
  margin-bottom: 0px;
  text-align: center;
}

.navbar {
  margin-top: 0px;
}

.image-nav{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.contents-nav {
  text-align: center;
  float: left;
  width: 25%;
  margin-top: 40px;
}

.post-container {
  float: right;
  text-align: center;
  width: 60%;
  margin-top: 40px;
  padding-bottom: 20px;
}

.home-blog {
  text-align: center;
  float: right;
  margin: 0 auto;
  width: 60%;
}

.home-blog-wrapper {
  float: right;
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
}


.clearfix {
  overflow: auto;
}


.about-container {
  background-image: url('moi.jpg');
  height: 625px;
  width: 720px;
  float: right;
  margin-top: 40px;
}

.about-text {
  color: white;
  margin-top: 85px;
  text-align: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
