@import "bootstrap-sprockets";
@import "bootstrap";

.brand-header {
  margin-bottom: 0px;
  text-align: center;
}

.navbar {
  margin-top: 0px;
}

.post-container {
  text-align: center;
  width: 60%;
  padding-bottom: 20px;
}